* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.slick-slider {
  display: flex;
}

.slick-track {
  display: flex;
  gap: 16px;

}

.slick-slid {
  width: 319px;
}

.inthepress_slider .slick-track {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 45px !important;
  gap: 0px !important;
}

.slick-list {
  overflow: hidden;
}

.slick-arrow {
  display: none;
}

.slick-prev {
  display: none;
}

.inthepress_slider .slick-slide {
  display: flex;
  justify-content: center !important;
  align-items: center;
  width: 45px;
  height: 45px;
}

.timeLine_slider .slick-track {
  display: flex;
  gap: 22px;
}